/* Poore page ko center karne ke liye */
body {
    background-color: white; /* Wahi Red color jo image mein hai */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}

/* White Container (Card) */
.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 10px 25px rgba(0,0,0,0.2); /* Shadow effect */
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Form layout - Flexbox se gap aayega */
#myForm {
    display: flex;
    flex-direction: column;
    gap:5px; /* Inputs ke beech proper gap */
    
}

/* Inputs styling */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Width fix rakhta hai */
    font-size: 14px;
}

/* Submit Button */
button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
    column-gap: 5px;
}

button:hover {
    background-color: #e0e0e0;
}
